body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif !important;
}
.sidebar-sticky
{
    padding-top: 30px;
}

h1 {
    text-align: center; 
    color: #112349; 
    margin-top: 30px;
}

.input-group {
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
}

#queryInput {
    padding: 0px 40px 0px 15px;
    height: 42px;
    border-radius: 8px;
    background-color: #f4f4f4;
}
#queryInput::placeholder {
  color: #888888;   /* or any hex code or color name you like */
  opacity: 1;       /* if you want it fully opaque */
}

#queryInput:focus {
  border: 1px solid rgb(231, 61, 9) !important;
  box-shadow: none;
  outline: none;
}

#micButton {
    position: absolute;
    border-radius: 0;
    border: none;
    background: transparent;
    right: 145px;
    padding: 6px 8px;
    cursor: pointer;
    z-index: 100;
}

#searchButton {
    border-radius: 6px;
    padding: 0px 37px;
    margin-left: 22px;
    background: transparent;
    color: black;
    border: 1px solid;
    transition: 0.5s;
}

#searchButton:hover
{
    border: 1px solid rgb(231, 61, 9) !important;
    color: rgb(231, 61, 9) !important;
}

.mt-4
{
    padding: 0px 10px;
}

.modal-content {
    background: #f8f9fa;
    border-radius: 8px;
}
#replaySpeech
{
    transition: 0.4s;
}

#replaySpeech:hover
{
    border: 1px solid rgb(231, 61, 9) !important;
    color: rgb(231, 61, 9) !important;
}

body, h1, h2, h3, h4, h5, h6, p, div, span, button, input, label, li, a {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif !important;
}

h5, h1
{
    font-weight: 700 !important;
}

.custom-nav li a {
    text-decoration: none;
    background-color: white !important;
    padding: 7px 0px;
    display: block;
    color: black;
    border: 1px solid rgb(185, 185, 185);
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}

.custom-nav li a:hover {
  color: rgb(231, 61, 9);
  border-color: rgb(231, 61, 9);
}

.sidebar {
    background-color: #f4f4f4 !important;
    min-height: 100vh;
    max-width: 235px !important;
    transition: transform 0.3s ease-in-out;
}

#sidebarToggle {
    display: none;
    position: fixed;
    top: 12px;
    left: 12px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 9px 3px;
    cursor: pointer;
    z-index: 10001;
    transition: all 0.3s ease;
}

#sidebarToggle:hover {
    border-color: rgb(231, 61, 9);
    color: rgb(231, 61, 9);
}

@media (max-width: 769px) {
    #sidebarToggle {
        display: block;
    }

    .sidebar {
        position: absolute;
        padding-top: 10px;
        max-width: 235px !important;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .sidebar.visible {
        transform: translateX(0);
        max-width: 235px;

    }

    #queryInput
    {
        width: 87%;
    }
    #micButton
    {
        right: 0px;
    }
    #searchButton
    {
        width: 100%;
        padding: 8px;
        margin: 20px 0px 0px;
    }
    .mt-4
    {
        padding-top: 25px;
    }
}

